@model IEnumerable<Project.Models.Attribute>



<div class="form-group">
    <label>Choose Attribute</label>
    <select id="myselect" class="form-control AllAttributes">

        @foreach (var attr in Model)
        {
            <option class="allatributes" id="@attr.ATTR_ID" attr-name="@attr.ATTR_Name">@attr.ATTR_Name : @attr.ATTR_Value</option>
        }

    </select>


</div>
<center><a id="ButtonSubmit" href="/Customer/Map/GetEmployeesUponAttribute" class="btn btn-secondary">Continue</a></center>

@section Scripts{
        <script src="~/js/MapAttributeIndex.js"></script>
}