@model Project.Models.EmployeeSpecial

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create Employee";



}




<form method="post" id="EmployeeForm">
    <div class="row p-3 border mt-2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Id != Guid.Empty)
        {
            //edit
            title = "Edit Employee";
            <input type="hidden" asp-for="Id" />
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-12 ">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="BirthDate"></label>
                </div>
                <div class="col-8">
                    @Html.TextBoxFor(v => v.BirthDate, new { @class = "form-control" })
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="StreetAddress"></label>
                </div>
                <div class="col-8">
                    <input asp-for="StreetAddress" class="form-control" />
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="HasCar"></label>
                </div>
                <div class="col-8">
                    <input type="checkbox" asp-for="HasCar" class="form-control" />
                    <span asp-validation-for="HasCar" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-8 offset-4">


                    @if (Model.Id != Guid.Empty)
                    {
                        <div class="row mb-2">
                            <div class="col">
                                <a asp-area="Customer" asp-controller="Employee" asp-action="ChangeAttributes" asp-route-id="@Model.Id" class="btn btn-primary btn-lg btn-block">Add Attributes </a>
                            </div>

                        </div>
                        <partial name="_EditAndBackToListButton" model="Model.Id" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>

    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

}
